# Python library
pip3 install Flask==2.2.2
pip3 install "connexion[swagger-ui]==2.14.1"
pip3 install ipaddress

# Intall npm : https://nodejs.org/en/download/
npm install -g swagger-cli

cd SRC/swagger
swagger-cli bundle swagger.yml --outfile openapi.yml --type yaml


# Download Vagrant box